BasedOnStyle: Google
# BasedOnStyle: LLVM
Language: Cpp

# Narrow width for phone screens
ColumnLimit: 100

# Indentation
IndentWidth: 2
TabWidth: 2
UseTab: Never

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

BinPackArguments: false
AlignAfterOpenBracket: AlwaysBreak
